@charset "UTF-8";
/*------------------------------------------------------------------------------
 Reset & Default Setting CSS.
------------------------------------------------------------------------------*/
/* Reset CSS. */
a,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
code,
dd,
div,
dl,
dt,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
input,
label,
li,
mark,
menu,
nav,
ol,
output,
p,
pre,
ruby,
section,
span,
summary,
table,
tbody,
td,
textarea,
th,
time,
tr,
ul,
video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
}
/* Default Setting */
html {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

body {
    position: relative;
    /* Smart Phone Smooth Scroll */
    -webkit-overflow-scrolling: touch;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 0;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    /* base font 16px */
    font-size: 100%;
    line-height: 1;
    /* iOS font automatic adjustment none. */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.clear {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    display: block;
    clear: both;
    content: " ";
}

a {
    text-decoration: none;
    color: #000;
    background: transparent;
}

a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: inherit;
    // 親要素の継承
    /*@include opacity(1);*/
}

a.current {}

img {
    vertical-align: middle;
}

li,
ol,
ul {
    list-style-type: none;
}

table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

input[type="button"],
input[type="submit"],
input[type="text"] {
    border-radius: 0;
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
    border-radius: 0;
    -webkit-appearance: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}
/* Dummy.html */
body {
    &#dummy {
        h1 {
            text-align: center;
            padding-top: 280px;

            span {
                font-size: 54px;
                font-family: 'Source Sans Pro', sans-serif;
                color: #999;
                text-align: center;
                font-weight: lighter;
                display: inline-block;
                transform: translate(0,0);
                transition: all 0.5s;
                opacity: 0;

                &.down {
                    opacity: 1;
                    transform: translate(0,80%);
                    transition: all 0.65s;
                }
            }
        }

        p {
            text-align: center;
            transform: translate(0,450%);

            a {
                color: #999 !important;
                display: inline-block;
                opacity: 1;
                transition: opacity 0.5s;

                span {
                    transform: rotate(0deg);
                    transition: transform 0.5s;
                    display: inline-block;
                }

                &:hover {
                    opacity: 0.75;
                    transition: opacity 0.5s;
                }
            }

            &:first-of-type {
                margin: 0 0 15px;

                a {
                    &:hover {
                        span {
                            transform: rotate(360deg);
                            transition: transform 0.5s;
                        }
                    }
                }
            }

            &:last-of-type {
                a {
                    &:hover {
                        span {
                            transform: rotate(-360deg);
                            transition: transform 0.5s;
                        }
                    }
                }
            }
        }
    }
}
/* sample1.html */
body {
    overflow: hidden;

    &#sample1 {
        width: 1440px;
        height: 775px;
        margin: 0 auto;
        opacity: 0;

        div {
            background-image: url("../images/bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
        }

        ul {
            position: absolute;
            top: 15px;
            left: 15px;

            li {
                transform: rotateX( 90deg );
                transition: transform 0.5s;

                &.rotate {
                    transform: rotateX( 0deg );
                    transition: transform 0.5s;
                }

                a {
                    color: #999 !important;
                    display: inline-block;
                    opacity: 1;
                    transition: opacity 0.5s;

                    span {
                        transform: rotate(0deg);
                        transition: transform 0.5s;
                        display: inline-block;
                    }

                    &:hover {
                        opacity: 0.75;
                        transition: opacity 0.5s;

                        span {
                            transform: rotate(-360deg);
                            transition: transform 0.5s;
                        }
                    }
                }

                &:first-of-type {
                    margin: 0 0 15px;
                }
            }
        }
    }
}
